
@media screen and (max-width:767px){

header{

}


.header_top{
	background:#FFFFFF;
	overflow: hidden;
	padding:1%;
}

.header_top a{
	color:#29524b;
	text-decoration: none;
	font-weight: 500;
	font-size:95%;
}

h1{
	margin:0;
	float:left;
	padding-left:9%;
	background:url(../../images/logo03.svg) no-repeat;
	background-size:25%;
}

h1 img{
	width:25%;
	margin-bottom:-10px;
	vertical-align:bottom;
}

.menu_pc{
	display:none;
}

main{
	height:800px;
	overflow: hidden;
}

.content01{
	position:relative;
	height:100%;
}

.content01_inner_bg{
	background:rgba(255, 255, 255, 0.8);
	padding:0 5% 10%;
	position:absolute;
	top:0;
	right:0;
	width:0;
	height: 100%;
}


/**************** フラワーアレンジメント *****************/

#fa{
	opacity:0;
	max-width:1000px;
	padding:5%;
	margin:0 auto;
}

#fa h2{
	font-size:200%;
	color:#215537;
	font-weight: 400;
	letter-spacing: 0.1em;
}

#fa h3{
	font-size:120%;
	color:#215537;
	font-weight: 500;
	display: inline-block;
	position: relative;
	margin-left: 1.5em;
}

#fa h3:before{
	content: '';
	display: inline-block;
	width: 1em;
	height: 1px;
	background-color: #215537;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -1.5em;
	margin: auto;
}



.fa_inner{
	display:block;
	margin-bottom: 20px;
}

.fa_image{
	width:40%;
	position: relative;
}

.wa .fa_image .empty{
	display: none;
}

.fa_image p{
	position: absolute;
	top: 0;
	left: 110%;
	width: 12em;
	padding: 1em;
	background-color: rgba(255,255,255,.9);
	-webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,.1);
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,.1);
	font-size:90%;
	color:#215537;
	font-weight:500;
	line-height: 2;
	margin:0;
}

.fa_image img{
	width:100%;
}

/**************** shop_info end *****************/

}