
@media screen and (max-width:767px){

header{

}


.header_top{
	background:#FFFFFF;
	overflow: hidden;
	padding:1%;
}

.header_top a{
	color:#29524b;
	text-decoration: none;
	font-weight: 500;
	font-size:95%;
}

h1{
	margin:0;
	float:left;
	padding-left:9%;
	background:url(../images/logo03.svg) no-repeat;
	background-size:25%;
}

.menu_pc{
	display:none;
}

main{
	height:800px;
	overflow: hidden;
}

.content01{
	position:relative;
	height:100%;
}

.content01_inner_bg{
	background:rgba(255, 255, 255, 0.8);
	padding:0 5% 20%;
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:100%;
}


/**************** message *****************/

#message{
	opacity:0;
	padding:15% 1% 20%;
}

#message h2{
	font-size:200%;
	color:#215537;
	font-weight: 400;
	letter-spacing: 0.1em;
}

#message p{
	font-size:110%;
	color:#215537;
	font-weight:500;
	line-height: 2;
	margin:2em 0;
}

/**************** message　end *****************/

}